In [62]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib 

plt.style.use('ggplot')

In [63]:
df=pd.read_excel('/Users/Mohammadreza/Downloads/Hosseinzadeh.xlsx')

In [64]:
df=df.drop(labels=['Sn','variable 1','variable2'],axis=1)

In [65]:
df.dtypes

sex                     int64
age                     int64
age of onset            int64
BMI                   float64
Head & Neck             int64
Trunk                   int64
Upper                   int64
Lower                   int64
palmoplantar            int64
PASI                  float64
BMI status              int64
age group               int64
age of onset group      int64
dtype: object

In [66]:
df.sex=df.sex.map({1:'male',2:'female'})
df.iloc[:,-3]=df.iloc[:,-3].map({1:'underweight',2:'normal',3:'overweight',4:'obese'})
df.iloc[:,-1]=df.iloc[:,-1].map({1:'under 30',2:' between 30 and 50',3:'older than 50'})
df.iloc[:,-2]=df.iloc[:,-2].map({1:'under 30',2:' between 30 and 50',3:'older than 50'})

In [67]:
df['PASI']=pd.cut(df['PASI'], bins=[0, 5, 12, 20,72], include_lowest=True, labels=['Mild', 'Moderate', 'Severe', 'Very Severe'])

In [70]:
def col_map(df,i):
    df.iloc[:,i]=df.iloc[:,i].map({1:'positive',2:'negative'})
    return df

In [71]:
for i in list(range(4,9)):
    dff=col_map(df,i)

In [72]:
dff.dtypes

sex                     object
age                      int64
age of onset             int64
BMI                    float64
Head & Neck             object
Trunk                   object
Upper                   object
Lower                   object
palmoplantar            object
PASI                  category
BMI status              object
age group               object
age of onset group      object
dtype: object

In [74]:
dff.head()

,sex,age,age of onset,BMI,Head & Neck,Trunk,Upper,Lower,palmoplantar,PASI,BMI status,age group,age of onset group
0,male,9,4,13.7,positive,positive,positive,positive,negative,Moderate,underweight,under 30,under 30
1,female,25,23,20.0,positive,negative,positive,positive,negative,Mild,underweight,under 30,under 30
2,female,29,13,15.4,positive,negative,negative,positive,negative,Mild,underweight,under 30,under 30
3,female,22,19,19.3,positive,negative,negative,positive,negative,Mild,underweight,under 30,under 30
4,male,17,14,19.0,positive,positive,negative,negative,negative,Mild,underweight,under 30,under 30

In [75]:
dff.tail()

,sex,age,age of onset,BMI,Head & Neck,Trunk,Upper,Lower,palmoplantar,PASI,BMI status,age group,age of onset group
185,female,36,31,39.1,negative,negative,negative,positive,negative,Mild,obese,between 30 and 50,between 30 and 50
186,male,45,42,41.2,negative,negative,negative,positive,negative,Mild,obese,between 30 and 50,between 30 and 50
187,female,33,31,37.1,negative,negative,negative,positive,negative,Mild,obese,between 30 and 50,between 30 and 50
188,female,60,57,33.0,negative,negative,negative,positive,negative,Mild,obese,older than 50,older than 50
189,female,59,57,31.0,negative,negative,negative,positive,negative,Mild,obese,older than 50,older than 50

In [12]:
dff.drop(labels=['age','age of onset','BMI'],axis=1,inplace = True)

In [13]:
dff = dff.reindex_axis(['sex', 'Head & Neck', 'Trunk', 'Upper', 'Lower' , 'palmoplantar', 'BMI status', 'age group','age of onset group', 'PASI'], axis=1)

In [14]:
def Col_Enc(colname):
    
    from sklearn.preprocessing import LabelEncoder 
    encoder=LabelEncoder()
    return encoder.fit_transform(colname)

In [15]:
for i in list(range(10)):
    dff.iloc[:,i]=Col_Enc(dff.iloc[:,i])

In [16]:
dff.dtypes

sex                   int64
Head & Neck           int64
Trunk                 int64
Upper                 int64
Lower                 int64
palmoplantar          int64
BMI status            int64
age group             int64
age of onset group    int64
PASI                  int64
dtype: object

In [45]:
from sklearn.tree import DecisionTreeClassifier
tree_reg=DecisionTreeClassifier(max_depth=5)

In [18]:
y=df.PASI
dff.drop('PASI', axis = 1, inplace = True)

In [19]:
X=dff

In [20]:
X.head()

,sex,Head & Neck,Trunk,Upper,Lower,palmoplantar,BMI status,age group,age of onset group
0,1,1,1,1,1,0,3,2,2
1,0,1,0,1,1,0,3,2,2
2,0,1,0,0,1,0,3,2,2
3,0,1,0,0,1,0,3,2,2
4,1,1,1,0,0,0,3,2,2

In [21]:
X.tail()

,sex,Head & Neck,Trunk,Upper,Lower,palmoplantar,BMI status,age group,age of onset group
185,0,0,0,0,1,0,1,0,0
186,1,0,0,0,1,0,1,0,0
187,0,0,0,0,1,0,1,0,0
188,0,0,0,0,1,0,1,1,1
189,0,0,0,0,1,0,1,1,1

In [22]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 7)

/Users/Mohammadreza/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [46]:
tree_reg.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [47]:
tree_reg.score(X_test, y_test)

0.78947368421052633

In [48]:
from sklearn import tree
tree.export_graphviz(tree_reg,out_file='tree.dot')

In [49]:
A=['sex','Head & Neck','Trunk','Upper','Lower','palmoplantar','BMI status','age group','age of onset group'],

In [50]:
from sklearn.tree import export_graphviz 
dot_data=export_graphviz(
    tree_reg,
    out_file='treee.dot', #image_path('/Users/Mohammadreza/Desktop/treee.dot'),
    feature_names=X.columns, 
    class_names=['Mild','Moderate','Severe','Very severe'],
    rounded=True,
    filled=True
)